
.bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 100%;
}

h1 {
    width: 55%;  
}

h2 {
    display: flex;
    margin-left: 50px;
}

h3, h5{
    background: #c6af99;
    font-size: larger;
    letter-spacing: 1px;
    width: 100%;
}

.h4 {
    text-align: center;
    text-align: justify;
    margin: 0;
}
.titre {
    font-weight: bold;
}

ul {
    text-align: center;
    text-align: justify;
    margin: 0; 
}

#text {
    max-width: 300px;
    display: flex;
    text-align: justify;
}

.coordonnee {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;

}

.icon {
    margin: auto;
}

.coord {
    text-align: center;
}